@font-face{ 
	font-family: 'osc ligth';
	src: url('open_sans_condensed/OpenSans-CondLight-webfont.eot');
	src: url('open_sans_condensed/OpenSans-CondLight-webfont.eot?iefix') format('eot'),
	     url('open_sans_condensed/OpenSans-CondLight-webfont.woff') format('woff'),
	     url('open_sans_condensed/OpenSans-CondLight-webfont.ttf') format('truetype'),
	     url('open_sans_condensed/OpenSans-CondLight-webfont.svg#webfont') format('svg');
}
@font-face{ 
	font-family: 'osc bold';
	src: url('open_sans_condensed/OpenSans-CondBold-webfont.eot');
	src: url('open_sans_condensed/OpenSans-CondBold-webfont.eot?iefix') format('eot'),
	     url('open_sans_condensed/OpenSans-CondBold-webfont.woff') format('woff'),
	     url('open_sans_condensed/OpenSans-CondBold-webfont.ttf') format('truetype'),
	     url('open_sans_condensed/OpenSans-CondBold-webfont.svg#webfont') format('svg');
}


/*start*/
*
{width: auto;}
html
{

}
body
{
	background: url('../images/fondos/blanco.jpg') #edeeed;
	background-position: cover;
	margin: 0;
}
header
{
  width: 100%;
  padding: 2% 5%;
  /*position: fixed;*/

}
ul li
{
	list-style: none;
}
nav
{
	margin-top: 50px;
	font-family: 'osc ligth';
	font-size: 25px;

	
}
nav ul{
	padding-left: 0;
}
nav ul li 
{
	display: inline-block;
	vertical-align: top;
	margin-right: 24px;
	color: #666;
}
nav ul li:hover
{
	color: #000;
}
figure
{
	padding: 0;
margin: 0;

}

.botonera_horizontal li{
	display: inline-block;
	vertical-align: top;
	margin: auto 3px auto 0px;
}
.db{display: block;}
.dib{display: inline-block;
	vertical-align: top;}
.bloque
{
	display: inline-block;
	vertical-align: top;
	padding: 0;
}
.bloque-padre
{
	min-width: 800px;
	min-height: 150px;
}
.bloque-a
{
	/*cuadrado perfecto*/
	min-width: 150px;
	min-height: 150px;

}
.grueso
{
	width: 74%;
}
.delgado
{
	width: 24%;
}
.celeste
{background-color: #1b9dc7}
.lbl-gris-oscuro
{color:  #4f4f4f;}
.total
{
	width: 100%;	
}
.logo
{
	width: 45%;
	text-align: left;
}
.datos_sesion
{
	width: 45%;
 	text-align: right;;
}
.nombre
{
	font-family: 'osc ligth';
	font-weight: bold;
	font-size: 18px;
}
#menu_sesion
{
 width: 40%;
 margin-right: 7px;
}
#foto_start
{	
	/*width: 50%*/
}
/*fin de primera pantalla*/
/*iconos*/
.icon-p 
{
	height: 25px;
	width: 25px;
	
}
.va-bottom
{
	vertical-align: bottom !important;
}
.lapiz-gris
{
	background: url('../images/iconos/lapiz-gris.png');
	background-size: cover;
	/*padding: 2%;*/
}
.lapiz-gris:hover
{
	background: url('../images/iconos/lapiz-verde.png');
	background-size: cover;
}
.wo-margin
{
	margin: 5px;
	margin-bottom: 0;
}
.correo-gris
{
	background: url('../images/iconos/correo-gris.png');
	background-size: cover;
	/*padding: 2%;*/
}
.correo-gris:hover
{
	background: url('../images/iconos/correo-verde.png');
	background-size: cover;
}
.fuera-gris
{
	background: url('../images/iconos/fuera-gris.png');
	background-size: cover;
	/*padding: 2%;*/
}
.fuera-gris:hover
{
	background: url('../images/iconos/fuera-verde.png');
	background-size: cover;
}
.submenu
{
	height: 0;
	overflow: hidden;
}